body {
    font-family: Comic Sans MS, sans-serif;
    background-image: url('Body.png');
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#win_message {
    display: none;
    align-items: center;
    background-color: rgba(31, 30, 30, 0.6);
    border-radius: 10px;
}

#pengu_win {
    width: 200px;
    height: auto;
    margin: 10px;
    animation: bounce 2s infinite; 
}

#pengu_win2 {
    animation-delay: 1s;
    transform: scaleX(-1);
    width: 200px;
    height: auto;
    margin: 10px;
    animation: bounce-flip 1.5s infinite;
}
#logo {
    background-color: rgba(31, 30, 30, 0.6);
    border-radius: 10px; 
    height: 50px;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}
#grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  margin-bottom: 20px;
  
}

.item {
  background-color: #1f1f1f;
  border: 2px solid #444;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.item:hover {
  border-color: #888;
}

.selected {
  background-color: #2ecc71;
  color: #000;
  border-color: #27ae60;
}

#buttons {
    display: flex;
    gap: 8px;
}

#Submit-btn, #Deselect-btn {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    border: 2px solid darkgreen;
    border-radius: 10px;
    display: block;
    font-weight: 700;
    box-shadow: 0px 14px -7px green;
    background-image: linear-gradient(45deg, greenyellow, green 100%, rgb(1, 59, 1));
    cursor: pointer;
    touch-action: manipulation;
}
#Submit-btn:hover, #Deselect-btn:hover {
    background-position: right center;
    color: black;
    transform: scale(0.95);
}

#Submit-btn:active, #Deselect-btn:active {
    transition: 0.3s;
    color: white;
    transform: scale(0.90);
}

#message {
  margin-top: 15px;
  font-size: 18px;
  min-height: 24px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-30px) ;
  }
  60% {
    transform: translateY(-25px) ;
  }
  80% {
    transform: translateY(-10px) ;
  }
}

@keyframes bounce-flip {
  0%, 100% {
    transform: translateY(0) scaleX(-1);
  }
  20% {
    transform: translateY(-10px) scaleX(-1);
  }
  40% {
    transform: translateY(-20px) scaleX(-1);
  }
  50% {
    transform: translateY(-30px) scaleX(-1);
  }
  60% {
    transform: translateY(-25px) scaleX(-1);
  }
  80% {
    transform: translateY(-10px) scaleX(-1);
  }
}

